/* Global style */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.section-heading {
  padding-bottom: 30px;
}

h1 {
  font-size: 36px !important;
}

.header {
  background-image: url(./images/bg.png);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(19, 177, 80);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.hero-section-text {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-section-text h1 {
  font-size: 62px !important;
}

.hero-section-text p {
  margin: 18px 20%;
  font-size: 18px;
  line-height: 27px;
  color: white;
}

.hero-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(19, 177, 80);
  margin-top: 16px;
  padding: 12px 34px;
  font-size: 13px;
  background: rgb(19, 177, 80);
  position: relative;
  cursor: pointer;
}

.hero-button:hover {
  border: 1px solid rgb(19, 177, 80);
  background: transparent;
  color: rgb(19, 177, 80);
  transition: 1s;
}

nav .fa {
  display: none;
}

/* Courses section */
.course {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: rgba(248, 248, 248, 0.76);
}

.course h1 {
  font-size: 36px;
  font-weight: 600;
}

.course p {
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 0px 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: #ffffff;
  margin-bottom: 5%;
  padding: 30px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.course-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover {
  box-shadow: 0 0 40px 0px rgba(8, 156, 27, 0.445);
}

/* Campus section */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 50px;
}

.campus h1 {
  margin-bottom: 1%;
}

.campus-col {
  flex-basis: 32%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 340px;
  height: 240px;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(31, 235, 12, 0.562);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
  transition: 0.5s;
}

/* Statistics section */
.statstics {
  border-bottom: 1px solid white;
  background-color: rgb(19, 177, 80);
}

.counter-div {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.counter-div:hover {
  box-shadow: 10px 20px 40px rgba(8, 126, 33, 0.74);
  transition: all 0.7s;
}

.counter-div h2 {
  color: white !important;
  font-weight: bold;
  font-size: 3rem;
}

.counter-div p {
  color: white !important;
  font-size: 1rem;
}

.down-content h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  margin-bottom: 15px;
  color: white !important;
}

.down-content p {
  margin-bottom: 20px;
}

/* Facilities section */
.facilities {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  background-color: rgba(248, 248, 248, 0.76);
}

.facilities-others {
  background-color: white;
}

.facilities-col {
  flex-basis: 31%;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-col img {
  width: 340px;
  height: 230px;
}

.facilities-col p {
  padding: 0px;
}

.facilities-col h3 {
  margin-top: 24px;
  margin-bottom: 16px;
  text-align: left;
  font-size: 24px;
}

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial-col {
  flex-basis: 49.5%;
  margin-bottom: 1%;
  text-align: left;
  background: #c3fcb2;
  padding: 24px;
  cursor: pointer;
  display: flex;
}

.testimonial-col h3 {
  text-align: center;
  padding-top: 1%;
  font-size: 20px;
}

.icons {
  text-align: center;
  margin-top: 2%;
  color: black;
}

.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

/* CTA section */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: url(./images/banner-2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

/* Footer */
#footer {
  background: rgb(19, 177, 80);
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: rgb(8, 104, 45);
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: white;
  color: rgb(10, 109, 48);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: rgb(7, 97, 42);
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: rgb(10, 112, 49);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none !important;
}

#footer .footer-top .footer-links ul a:hover {
  color: black;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: white;
  padding: 6px 10px;
  position: relative;
  border: 1px solid white;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
  background: white;
  color: white;
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: rgb(19, 177, 80);
  color: #fff;
  transition: 0.3s;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: black;
}

.footer-newsletter p {
  color: white;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: white;
}

/* Home page responsive style */
@media (max-width: 768px) {
  .hero-section-text h1 {
    font-size: 30px;
    padding-top: 2%;
  }

  .hero-section-text p {
    margin: 18px 10%;
    line-height: 27px;
    color: white;
    text-align: justify;
  }

  .header {
    min-height: 200vh;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background: rgb(19, 177, 80);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }

  .row {
    flex-direction: column;
  }

  .course h1 {
    font-size: 24px;
  }

  .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }

  .testimonial-col h3 {
    text-align: left;
    font-size: 13px;
  }

  .icons {
    text-align: left;
  }

  .cta {
    font-size: 12px;
  }

  .cta h1 {
    font-size: 13px;
  }
}

/* About page */
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  margin-top: 40px;
  font-size: 48px;
}

@media (max-width: 768px) {
  .sub-header h1 {
    font-size: 34px;
  }
}

.about-us-first {
  width: 100%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: rgba(248, 248, 248, 0.76);
}

.about-us-second {
  width: 100%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 70px;
}

.about-col {
  flex-basis: 48%;
  padding: 10px 2px;
}

.about-col img {
  width: 100%;
}

.about-col p {
  text-align: justify;
  padding: 10px 2px;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(19, 177, 80);
  margin-top: 5px;
  padding: 12px 34px;
  font-size: 13px;
  background: rgb(19, 177, 80);
  position: relative;
  cursor: pointer;
}

.button:hover {
  border: 1px solid rgb(19, 177, 80);
  background: white;
  color: rgb(19, 177, 80);
  transition: 1s;
}

/* Programs page */
.programs-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

.programs-left {
  flex-basis: 65%;
}

.programs-left img {
  width: 100%;
}

.programs-left h2 {
  color: #222222;
  font-weight: 600;
  margin: 30px 0;
}

.programs-left p {
  color: #999;
  padding: 0;
  text-align: justify;
}

.programs-right {
  flex-basis: 32%;
}

.programs-right h3 {
  background: rgb(19, 177, 80);
  color: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.programs-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  box-sizing: border-box;
  padding-bottom: 8px;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}

.comment-box h3 {
  text-align: left;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
}

/* Contact page styling */
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 40px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: rgb(19, 177, 80);
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}